.todo-item-container {
  border-radius: 1rem;
  border: 0.2rem solid yellowgreen;
  box-shadow: 0.2rem 0.2rem rgba(50, 50, 50, 0.3);

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  padding: 0.5rem;
  gap: 1rem;
}

.readonly-textarea {
  width: 50rem;
  height: 2.5rem;
  border: none;
  /* selc */
}

.readonly-textarea::focus {
  border: none;
  /* selc */
}

.username-timestamp {
  font-size: 0.5rem;
  width: 6rem;
}

.username {
  font-weight: bold;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox {
  height: 1.2rem;
  width: 1.2rem;
}

.sm-btn {
  height: 2rem;
  width: 5rem;
  background-color: khaki;
  color: chocolate;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 0.2rem solid yellowgreen;
  box-shadow: 0.2rem 0.2rem rgba(50, 50, 50, 0.3);
}
